fragment branchProtection{{ num }} on Query {
  branch_protection{{ num }}: node(id: "{{ bp_id }}") {

    ... on BranchProtectionRule {
      pushAllowances(first: $pushAllowancesMax{% if page_infos %}, after: $bp{{num}}pushAllowanceCursor{% endif %}) {
        pageInfo {
          ...pageInfoFields
        }
        nodes {
          branchProtectionRule {
            id
            repository {
              id
            }
          }
          actor {
            ... on User {
              id
              __typename
            }
            ... on App {
              id
              __typename
              name
            }
            ... on Team {
              id
              __typename
              name
            }
          }
        }
      }
    }
  }
}