fragment teamRepo{{ num }} on Query {
  team{{ num }} : organization(login: $organisation) {
    teams(first: 1, query: "{{ team }}") {
      edges {
        node {
          ...team{{ num }}RepoPermissions
        }
      }
    }
  }
}